/* Adicione estas regras para tornar o layout mais responsivo */
@media only screen and (max-width: 768px) {
    .barra {
      flex-direction: row;
    }
  
    .barra > div {
      margin-bottom: 10px;
    }
  
    .botao {
      text-align: center;
    }
  
    .imagem {
      margin-right: 0;
    }
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #4382bd;
    min-height: 100vh;
  }
  
  main {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  
  .bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cabeca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #4382bd;
    border-radius: 10px;
    padding: 5px 20px;
  }
  
  h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
    color: #fff;
  }
  
  h2 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-shadow: 0.4px 0.4px 0.9px rgba(0, 0, 0, 0.5), -0.4px -0.4px 0.9px rgba(255, 255, 255, 0.5);
  }
  
  .botao a {
    text-decoration: none;
    background: transparent;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  span,
  #valorBeneficio {
    background-color: #4382bd;
    width: 300px;
    height: 40px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
    font-weight: lighter;
  }
  
  button {
    font-weight: bolder;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
  }
  
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .clique {
    display: flex;
    flex-direction: row;
  }
  
  .barra {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 3px 0;
  }
  
  legend {
    max-width: 300px;
  }
  
  .actions a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    gap: 20px;
    padding: 15px;
    margin-bottom: 30px;
  }
  
  .envio {
    margin-top: 20px;
    background-color: #00ec85;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .imagem {
    margin-top: 20px;
  }
  