#card-img {
    width: 50%;
    float: left;
    margin-right: .8rem;
}
@media screen and (max-width: 425px) {
    #card-img {
        float: none;
        width: 100%;
    }
}

main > div.row {
    background-color: #ffffffe0;
}