// Importação de funções e variáveis
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: (
	primary: #5BD992,
	secondary: #213740,
	info: #F2F2F2,
	success: #AEF2C6,
	warning: $orange,
	danger: $red,
);

$prefix: "cw-";

// Importação da biblioteca Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";