/* Início para estilo da Home */

#principal {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

#principal img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.alert-custom {
    font-size: 16px;
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 10px 5px 20px;
    text-align: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteudo {
    width: 100vw;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

.perfil {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.perfil1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 50px 0px;
    border-bottom: 4px solid #fff;
    border-radius: 10px;
    gap: 50px;
}

.perfil2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moeda {
    color: orange;
    width: 30px;
    height: 30px;
}

.icone-conta {
    width: 27px;
    height: 27px;
}

h3,
h4 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: lighter;
}

.dados {
    display: flex;
    flex-direction: column;
}

.editar {
    width: 40px;
}

.perfil1 .botoes {
    display: flex;
    gap: 10px;
    justify-self: end;
}

.cartoes {
    display: flex;
}

.cartao-perfil {
    width: 300px;
    border-bottom: 4px solid palegreen;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    margin: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.cartao-perfil span {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 5px;
}

.cartao-perfil1 {
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.botao-menu {
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid orange;
}

.menu-icone {
    color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    width: 30px;
    height: 30px;
}

.botao-menu div {
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 4px solid orange;
    width: 25px;
    height: 25px;
}

h5 {
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-style: oblique;
}

.cartao-conta {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-top: 10px solid red;
}

.menu,
.categorias,
.contas,
.relatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias-titulo,
.contas-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 20px;
}

.categorias .botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartao-categoria {
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-bottom: 4px solid #fff;
}

.categorias .cartoes-categoria,
.contas .cartoes-conta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.valor-categoria {
    width: 100px;
    border-radius: 5px;
    padding-left: 3px;
}


.item {
    display: flex;
    flex-direction: column;
}

.controle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel, .relatorio {
    border-radius: 5px;
    padding: 50px 70px 30px 70px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-bottom: 4px solid #fff;
    display: flex;
    flex-direction: column;

}

.painel h1, .relatorio h1 {
    
    color: #fff;
    text-align: center;
}

.item span {
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
}

.pontuacao {
    display: flex;
    border-radius: 30px;
    gap: 50px;
    padding: 5px 30px;
}

.dado {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.dado-valor {
    font-size: 35px;
}

.linha {
    font-weight: bold;
}

.tabela .titulo {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-size: 17px;
}

.pagar {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;
}

.pagar:hover {
    background-color: rgba(255, 166, 0, 0.914);
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.pagar:hover .moeda {
    color: #fff;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.pagar .col,
.pagar .nova-despesa,
.pagar .col p {
    display: flex;
    align-items: center;
    gap: 9px;
}

.seta {
    width: 35px;
    height: 35px;
}

.botao {
    width: 70px;
    font-weight: lighter;
}

.controle .botoes {
    display: flex;
    justify-content: space-around;
}

.grafico {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 650px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding-top: 50px;
    border-bottom: 4px solid #fff;
}

.visivel {
    display: block;
}

.oculto {
    display: none;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.caixa {
    width: 250px;
}

.conta {
    gap: 20px;
}

.conta p {
    width: 150px;
    text-align: center;
    font-weight: lighter;
    padding: 10px;
    border-radius: 5px;
}

.yellow {
    background-color:#d29e00;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
    /* font-style: oblique; */
}

.red {
    background-color: red;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
    /* font-style: oblique; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; */
}

.green {
    background-color: green;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
    /* font-style: oblique; */
}

.pagar span {
    text-align: center;
}

.pagar button {
    width: 35px;
    border: none;
    background-color: transparent;
}

.pagar:hover button {
    color: #fff;
    border: none;
}

.form-relatorio, .data-relatorio {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 20px;
}


/* Fim para estilo da Home */