/* Início para estilo da Home */

#principal {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#principal img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.alert-custom {
    font-size: 16px;
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 10px 5px 20px;
    text-align: center;
    background: #28a745;
    color: #fff;
    border-radius: 30px;
}

.display-6,
.form-label,
.form-control,
.form-select {
    font-weight: lighter;
    font-size: large;
}

.form-control,
.form-select,
.modal-button {
    font-weight: 400;
    border: 1px solid #ccc;
}

.display-6 {
    font-size: xx-large;
}

::placeholder {
    font-size: medium;
}

.input-group-text {
    background: #fff;
    border: 1px solid #ccc;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3,
h4,
h5 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: lighter;
}

.conteudo {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.perfil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 50px 0px;
    border-radius: 10px;
    gap: 1rem;
}

.perfil span {
    border-radius: 5px;
    padding: 0 5px;
    width: auto;
    display: flex;
    justify-content: end;
}

.moeda {
    color: orange;
    /* #ffc107 */
    width: 30px;
    height: 30px;
}

.icone-conta {
    width: 27px;
    height: 27px;
}

.dados {
    display: flex;
    flex-direction: column;
}

.editar {
    width: 40px;
}

.perfil1 .botoes {
    display: flex;
    gap: 10px;
    justify-self: end;
}

.cartao-perfil {
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
}

.cartao-controle {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
}

.cartao-perfil span {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 5px;
}

.controle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 20px 0;
    border-radius: 5px;
}

.controle-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controle .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cartao-controle span {
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 5px;
}

.controle h4 {
    justify-content: center;
}

.controle span {
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    display: flex;
    justify-content: center;
}

.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 20px 0;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

.agenda table {
    width: 100%;
}

.agenda tr {
    border-radius: 10px;
    border: 1px solid #ccc;

}

.agenda th {
    background-color: #213740;
    color: #fff;
}

.agenda td,
.agenda th {
    padding: 70px;
    font-size: large;
}

.agenda tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.agenda-conta {
    font-size: 17px;
    font-weight: lighter;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
    letter-spacing: 0.5px;
}

.tabela-titulo {
    font-size: 18px;
    font-weight: lighter;
}

.cartao-conta {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-top: 10px solid red;
}

.categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 20px 0;
    border-radius: 5px;
}

.categorias-titulo,
.contas-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cartoes-categoria {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 16px;
}

.cartao-categoria {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.valor-categoria {
    width: 200px;
    border-radius: 5px;
    padding-left: 5px;
    font-weight: lighter;
    font-size: large;
}

.relatorio {
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-bottom: 2px solid #213740;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.relatorio h1 {
    color: #fff;
    text-align: center;
}

.pontuacao {
    display: flex;
    border-radius: 30px;
    gap: 50px;
    padding: 5px 30px;
}

.dado {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.dado-valor {
    font-size: 35px;
}

.botao {
    display: flex;
    align-items: center;
    gap: 5px;
}

.botao-icone {
    width: 20px;
    height: 20px;
}

.grafico {
   width: 600px;
   height: 600px;
}

.visivel {
    display: block;
}

.oculto {
    display: none;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.caixa {
    width: 250px;
}

.conta {
    gap: 20px;
}

.conta p {
    width: 150px;
    text-align: center;
    font-weight: lighter;
    padding: 10px;
    border-radius: 5px;
}

.yellow {
    background-color: #ffc107;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
}

.red {
    background-color: red;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
}

.green {
    background-color: #28a745;
    border-radius: 10px;
    padding: 1px 5px;
    width: 150px;
    /* font-style: oblique; */
}

.form-relatorio,
.data-relatorio {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 20px;
}

.dado-relatorio {
    border-radius: 5px;
    padding: 6px 0 6px 15px;
    font-weight: lighter;
    font-size: medium;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.relatorio .invalid-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    font-size: medium;
    color: #dc3545;
    border-radius: 5px;
}

/* Fim para estilo da Home */