# user: (usuário operador do banco)
# port: (porta de onde está o banco de dados) 
# database: (nome do banco de dados)

DATABASE_URL="mysql://user:@localhost:port/database"


# serverport: (porta em que os server está ligado)

PORT = server port;